In [ ]:
#!conda install psycopg2 --yes

In [1]:
import psycopg2 as pg2
from psycopg2.extras import RealDictCursor
import pandas as pd
import numpy as np
import seaborn as sns
%matplotlib inline

Write a function to connect to the database.
Make sure to close your connections. This is a best practice, but remember the more connections left hanging, the less memory the server will have. You are all sharing this server!

In [2]:
class DataBaseCommunication(object):
   
    # Initializing object.
    def __init__(self, host, dbname, user):
       
        self.host = host
        self.dbname = dbname
        self.user = user
        self.connected = False
       
    def connect(self):
        # Create a connection to a server
        self.con = pg2.connect(host = self.host,
                              dbname = self.dbname,
                              user = self.user)

        # Using a RealDictCursor as a means to do things over the
        # connection.
        self.cur = self.con.cursor(cursor_factory=RealDictCursor)
       
        self.connected = True
       
        return("Database connected")
       
    def execute(self, command_str, pdDataFrame = False):
        # Check if our class has connected, if not assert.
        assert self.connected, "Have not connected to the database!"
           
        self.cur.execute(command_str)
        results = self.cur.fetchall()
       
        # If res_pdDataFrame = True, return results a pandas dataframe.
        if (pdDataFrame):
            return(pd.DataFrame(results))
        else:
            return(results)
   
    def close(self):
        if (self.connected):
           
            self.con.close()
            self.connected = False          
            return("Database closed")
       
        else:
            return("Database not connected")

In [3]:
# Connect to a database to retrieve data.

In [4]:
# Open connection.
db = DataBaseCommunication(host = '34.211.227.227',
                           dbname = 'postgres',
                           user = 'postgres')

In [5]:
# Connect.
db.connect()

'Database connected'

In [6]:
# Retrieve data.
sql = '''
SELECT COUNT(*) 
FROM madelon
'''
result = db.execute(sql)
result

[{'count': 200000}]

In [7]:
# Retrieve data.
sql = '''
SELECT COUNT(*)
FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'madelon'
'''
result = db.execute(sql)
result

[{'count': 1002}]

In [ ]:
# Retrieve datasets in chunks of 3000 rows. Offset by 3000 to get unique rows of data.
sql = '''
SELECT *
FROM madelon
ORDER BY random()
OFFSET 0
LIMIT 3000
'''
df = db.execute(sql, pdDataFrame = True)
# Pickle the data as I get it.
df.to_pickle('../MadelonDBData/df3000_1.p')

In [ ]:
# Retrieve datasets in chunks of 3000 rows. Offset by 3000 to get unique rows of data.
sql = '''
SELECT *
FROM madelon
ORDER BY random()
OFFSET 3001
LIMIT 3000
'''
df = db.execute(sql, pdDataFrame = True)
# Pickle the data as I get it.
df.to_pickle('../MadelonDBData/df3000_2.p')

In [ ]:
# Retrieve datasets in chunks of 3000 rows. Offset by 3000 to get unique rows of data.
sql = '''
SELECT *
FROM madelon
ORDER BY random()
OFFSET 6001
LIMIT 3000
'''
df = db.execute(sql, pdDataFrame = True)
# Pickle the data as I get it.
df.to_pickle('../MadelonDBData/df3000_3.p')

In [ ]:
# Retrieve datasets in chunks of 3000 rows. Offset by 3000 to get unique rows of data.
sql = '''
SELECT *
FROM madelon
ORDER BY random()
OFFSET 9001
LIMIT 3000
'''
df = db.execute(sql, pdDataFrame = True)
# Pickle the data as I get it.
df.to_pickle('../MadelonDBData/df3000_4.p')

In [26]:
# Retrieve datasets in chunks of 3000 rows. Offset by 3000 to get unique rows of data.
sql = '''
SELECT *
FROM madelon
ORDER BY random()
OFFSET 12001
LIMIT 3000
'''
df = db.execute(sql, pdDataFrame = True)
# Pickle the data as I get it.
df.to_pickle('../MadelonDBData/df3000_5.p')
df.head(5)

,_id,feat_000,feat_001,feat_002,feat_003,feat_004,feat_005,feat_006,feat_007,feat_008,...,feat_991,feat_992,feat_993,feat_994,feat_995,feat_996,feat_997,feat_998,feat_999,target
0,99076,-0.680963,0.781023,-2.928894,-1.220431,0.331080,-0.008883,0.772567,-0.109983,-0.813973,...,0.310181,-1.224689,0.566445,-0.820767,-0.749266,1.049864,-0.757293,-1.756745,0.084222,1
1,29813,-1.582677,-1.203802,-1.459738,-0.424029,-0.079318,0.357695,0.840665,1.337775,-1.945062,...,2.423974,0.693843,0.186011,0.307245,-0.054781,-0.872673,-0.249878,-0.737719,-0.155513,1
2,21770,-0.565946,1.154471,-1.042816,0.087441,0.227700,0.443144,0.006693,1.197519,-0.372018,...,0.278993,0.670340,1.011310,-0.236214,-0.164880,0.771283,-0.711590,-0.948966,-0.710685,0
3,123320,0.814731,0.408574,-0.206024,-0.694499,-0.087560,0.142431,0.949714,1.032601,0.902994,...,-0.617573,-1.302798,0.687416,0.581351,0.145801,0.783219,0.253495,0.300426,-0.323970,1
4,110006,1.828520,0.287529,-0.124284,1.304462,-0.735334,0.411033,-1.393248,0.730282,-0.856952,...,-1.517283,1.032568,-2.251032,0.686866,-1.564867,-0.262296,-0.240384,-0.851318,-0.320499,0

In [28]:
# Close connection.
db.close()

'Database closed'